
<nav id="navbar-lp">
  <div style="margin-right: 20px;">
    <a href="/">
      <img id="img-logo" src="/imgs/logo-nitrusleaf.png" alt="Logo">
    </a>
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/">Sobre nós</a>
  </div>

  <div id="navbar-btns">
    <a href="/cadastro" id="btn-cadastrar">Cadastrar-se</a>
    <a href="/login" id="btn-entrar">Entrar</a>
  </div>
</nav>
