<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    Nossa Loja
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/histal">Hist처rico dos Talh천es</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/talhoes">Talh천es</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/historico">Hist처rico</a>
        </li>
    </ul>
</nav>
<br>