
<nav id="navbar-lp" class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">
    <img id="img-logo" src="/imgs/logo-nitrusleaf.png" alt="Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" style="padding-block: 15px;" href="#">Sobre nós</a>
      </li>

      <button id="btn-cadastrar" type="button">Cadastrar-se</button>
      <button id="btn-entrar" type="button">Entrar</button>
      
    </ul>
  </div>
</nav>

<main>
  <div class="container">
    <h1><strong>Diagnóstico de deficiência da sua mexerica em um piscar de olhos!</strong></h1>

  </div>
  <div class="container">
    <img src="mexerica.png" alt="Mexerica">
    <button id="btn-entrar" style="width: 246px;">Entrar</button>
    <button id="btn-cadastrar" style="width: 246px;">Cadastrar-se</button>
    <a href="#">Entrar com o Google</a>
  </div>
</main>


<!-- <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-auto mt-5 mb-5 " id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"> 
         <a class="nav-link" href="/histal">
          <img src="../../public/imgs/Btn-menu.png" alt="botao">
        </a>
      </button>
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"> <a class="nav-link" href="/talhoes"></a></button>
      <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" disabled>    <a class="nav-link" href="/historico"></a></button>
      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"></button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"></button>
    </div>
  </div> -->
