<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills nav-button" id="v-pills-tab" role="tablist" aria-orientation="vertical">
         <a class="nav-link" href="/cadastro">
          <img src="/imgs/Btn-menu.png" alt="..." style="width: 20px; height: 30px; margin-right: 50px;">
        </a>
              <a class="nav-link" href="/cadastro">
           <img src="/imgs/Btn-menu.png" alt="..." style="width: 20px; height: 30px;">
         </a>
          <a class="nav-link" href="/cadastro">
           <img src="/imgs/Btn-menu.png" alt="..." style="width: 20px; height: 30px;">
         </a>
       
          <a class="nav-link" href="/cadastro">
           <img src="/imgs/Btn-menu.png" alt="..." style="width: 20px; height: 30px;">
         </a>
          <a class="nav-link" href="/cadastro">
           <img src="/imgs/Btn-menu.png" alt="..." style="width: 20px; height: 30px;">
         </a>
    </div>
  </div>
