<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<main>
    <div class="container mt-5">
        <h1 id="titulo">Cadastrar</h1>
        <div class="card mt-2" id="form-bg">
            <div class="card-body p-5 mx-5">
                <form action="/createUsuarios" method="post">
                    <h3 id="titulo" class="mx-3">Dados de usuário</h3>
                    <div class="container d-flex justify-content-center gap-5 m-3">
                        <label>
                            <input type="radio" name="tipoPessoa" value="fisica" id="fisica" class="mx-1" onclick="tipoPessoa()" required>
                            Pessoa Física
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="tipoPessoa" value="juridica" id="juridica" class="mx-1" onclick="tipoPessoa()" required>
                            Pessoa Jurídica
                        </label>
                        <br>     
                    </div>

                    <div id="formFisica" style="display: block;">
                        <div class="row">
                            <div class="col m-3">
                                <label>CPF:</label>
                                <input type="text" name="cpf" class="form-control" placeholder="Digite seu CPF" required>
                            </div>
                            <div class="col m-3"></div>
                        </div>
                        <div class="row">
                            <div class="col m-3">
                                <label>Logradouro:</label>    
                                <input type="text" name="logradouro" class="form-control" required>
                            </div>
                            <div class="col m-3">
                                <label>Número:</label>  
                                <input type="text" name="password" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-3">
                                <label>Bairro:</label>
                                <input type="text" name="sobrenome" class="form-control" required>
                            </div>
                            <div class="col m-3">
                                <label>Cidade:</label>
                                <input type="text" name="celular" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div id="formJuridica" style="display: none;">
                        <div class="row">
                            <div class="col m-3">
                                <label>CPF:</label>
                                <input type="text" name="cpf" class="form-control" placeholder="Digite seu CPF" required>
                            </div>
                            <div class="col m-3"></div>
                        </div>
                        <div class="row">
                            <div class="col m-3">
                                <label>Logradouro:</label>    
                                <input type="text" name="logradouro" class="form-control" required>
                            </div>
                            <div class="col m-3">
                                <label>Número:</label>  
                                <input type="text" name="password" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-3">
                                <label>Bairro:</label>
                                <input type="text" name="sobrenome" class="form-control" required>
                            </div>
                            <div class="col m-3">
                                <label>Cidade:</label>
                                <input type="text" name="celular" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <h4 id="titulo" class="mx-3 mt-3">Cadastro de Propriedade</h4>
                    <div class="row">
                        <div class="col m-3">
                            <label>Nome da Propriedade:</label>
                            <input type="text" name="cpf" class="form-control" placeholder="Digite seu CPF" required>
                        </div>
                        <div class="col m-3">
                            <label>CEP:</label>
                            <input type="text" name="cpf" class="form-control" placeholder="Digite seu CPF" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m-3">
                            <label>Logradouro:</label>    
                            <input type="text" name="logradouro" class="form-control" required>
                        </div>
                        <div class="col m-3">
                            <label>Número:</label>  
                            <input type="text" name="password" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m-3">
                            <label>Bairro:</label>
                            <input type="text" name="sobrenome" class="form-control" required>
                        </div>
                        <div class="col m-3">
                            <label>Cidade:</label>
                            <input type="text" name="celular" class="form-control" required>
                        </div>
                    </div>
                    <div class="container mb-3" >
                        <input type="submit" value="Cadastrar" class="btn pt-2 mt-3" style="padding-inline: 7rem;" id="btn-entrar">
                    </div>  
                </form>
                <div class="card" id="form-bg-claro">
                    <div class="card-body">
                        <table>
                            <thead>
                                <tr id="tabela-dados">
                                    <th>Nome Propriedade</th>
                                    <th>Informações</th>
                                    <th colspan="1">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- INSERIR TABELA DE DADOS DAS PROPRIEDADES CADASTRADAS -->
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container d-flex justify-content-center my-2" >
                    <a href="">
                        <input type="submit" value="Próximo" class="btn pt-2 mt-3" style="padding-inline: 7rem;" id="btn-entrar">
                    </a>
                </div>  
            </div>
        </div>
    </div>
</main>



 <%- include('partials/footer.ejs') %>