<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<main>
    <div class="container mt-5">
        <h1 id="titulo">Cadastrar</h1>
        <div class="card mt-2" id="form-bg">
            <div class="card-body p-5">
                <h4 id="titulo">Dados da conta</h4>
                <form action="/createUser" method="post">
                    <div class="row">
                        <div class="col m-3">
                            <label>Nome:</label>
                            <input type="text" name="nome" class="form-control" placeholder="Digite seu nome" required>
                        </div>
                        <div class="col m-3">
                            <label>Telefone:</label>
                            <input type="text" name="telefone" class="form-control" placeholder="Insira seu telefone" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m-3">
                            <label>E-mail:</label>    
                            <input type="text" name="email" class="form-control" placeholder="email@exemplo.com" required>
                        </div>
                        <div class="col m-3">
                            <label>Senha:</label>  
                            <input type="text" name="password" class="form-control" placeholder="Insira uma senha com no mínimo 8 caracteres" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m-3">
                            <label>Sobrenome:</label>
                            <input type="text" name="sobrenome" class="form-control" placeholder="Digite seu sobrenome" required>
                        </div>
                        <div class="col m-3"></div>
                    </div>
                    <div class="row">
                        <div class="col m-3">
                            <label>Celular:</label>
                            <input type="text" name="celular" class="form-control" placeholder="Insira um número de celular" required>
                        </div>
                        <div class="col m-3"></div>
                    </div>
                    <div class="container text-center" >
                        <input type="submit" value="Cadastrar" class="btn pt-2 mt-3" style="padding-inline: 7rem ;" id="btn-entrar">
                    </div>
                    <div class="container text-center mt-2">
                        <h6>Já possui conta?<a href="/login">Faça o login</a></h6>
                   </div> 
                </form>

            </div>
        </div>
    </div>
</main>


<%- include ('partials/footer.ejs') %>