<%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>
<!--
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <form action="/home/new" method="post">
                        <div class="card">
                            <div class="card-body"> 
                                ola
                            </div>
                            <hr>
                            <div class="card-body">
                                ola
                            </div>
                          </div>
                    </form>
                </div>
            </div>
        </div>
-->

        <%- include ('partials/footer.ejs') %>