<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<%- include ('partials/navbar-lateral.ejs') %>

<div id="row-home" id="conteiner-home">
  <div class="card" id="card-label">
  <h1 id="label">Olá, bem vindo!</h1>
</div>
  <div id="column-home">
  <div class="card-home mx-5" id="card-home-css">
    <div class="card" id="card-body-home">
    </div>
  </div>
</div>
  <div id="column-home">
  <div class="card mx-5" id="card-home-css">
    <div class="card-body" id="card-body-home-two">
    </div>
  </div>
</div>
</div>
      
<%- include ('partials/footer.ejs') %>