<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="collapse navbar-collapse" id="navbar-btns">
    <ul class="navbar-nav mr-auto">
      <a href="/cadastro">
      <button id="btn-cadastrar" type="button">Cadastrar-se</button>
    </a>
      <a href="/login">
      <button id="btn-entrar" type="button">Entrar</button>
    </a>
      
    </ul>
  </div>
</nav>

<main>
  <div class="container">
    <h1><strong>Diagnóstico de deficiência da sua mexerica em um piscar de olhos!</strong></h1>
  </div>
  <div style="display: flex; flex-direction: column;" class="container">
    <img src="mexerica.png" alt="Mexerica">
    <a href="/login">
    <button id="btn-entrar" style="width: 246px;">Entrar</button>
    </a>
    <a href="/cadastro">
    <button id="btn-cadastrar" style="width: 246px;">Cadastrar-se</button>
    </a>
    <a href="#">Entrar com o Google</a>
  </div>
</main>
    
<%- include ('partials/footer.ejs') %>
