body {
    background-color: #FAF0D7;
}

ul {
    list-style: square;
    line-height: 30px;
}

a {
    color:#0ba7c6;
    text-decoration: none;
    padding: 20px;
}

th, td {
    padding: 10px;
}

footer {
    text-align: center;    
}

#bg-all{
    background-color: #FAF0D7;

}